<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Forecast</title>
</head>
<body>
{% block menu %}
<form>
    <p><input type="search" name="city" placeholder="Search Forecast"  value="{{ request.args.get('city','') }}">
   <input type="submit" value="Search"></p>
</form>
{% endblock %}
{% block content %}

{% endblock %}
</body>
</html>